@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #9C9C9C;
    background-color: #fff;
}

[class*="__container"] {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.page {
    flex: 1 1 auto;
}

/* ================= */
.header {}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-height: 135px;
}

.header__logo {}

.header__body {
    display: flex;
    gap: 74px;
    align-items: center;
    flex-wrap: wrap;
}

.header__menu {}

.menu {}

.manu__list {
    display: flex;
    gap: 74px;
    flex-wrap: wrap;
    align-items: center;
}

.menu__item {}

.menu__link {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    transition: all 0.3s ease;
}

.menu__link.active,
.menu__link:hover {
    font-weight: 600;
}

.header__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 14px 32px;
    background: #2C3878;
}

.page__room {}

.room {
    padding-bottom: 100px;
}


.room__container {}

.room__content {
    text-align: center;
}

.room__content:not(:last-child) {
    margin-bottom: 53px;
}

.room__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4;
    color: #000000;
    text-align: center;
}

.room__title:not(:last-child) {
    margin-bottom: 40px;
}

.room__text {
    line-height: 1.6;
    color: #000000;
    max-width: 518px;
    margin: 0 auto;
}

.room__image {}

.room__image img {
    max-width: 100%;
}

.room__image:not(:last-child) {
    margin-bottom: 100px;
}

.room__body {}

.body-room {
    display: flex;
    margin: 0 -16px;
}

.body-room:not(:last-child) {
    margin-bottom: 82px;
}

.body-room__column {
    flex: 0 0 50%;
    padding: 0 16px;
}

.body-room__content {}

.content-room {}

.content-room__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
}

.content-room__title:not(:last-child) {
    margin-bottom: 24px;
}

.content-room__text {
    line-height: 1.6;
}

.content-room__text:not(:last-child) {
    margin-bottom: 60px;
}


.content-room__text p:not(:last-child) {
    margin-bottom: 30px;
}

.content-room__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content-room__date {
    line-height: 1.6;
}

.content-room__design {
    line-height: 1.6;
}

.room__items {
    display: flex;
    row-gap: 32px;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.room__column {
    flex: 0 0 50%;
    padding: 0 16px;
}

.room__column_bg {
    flex: 0 0 100%;
}

.room__item {}

.room__item img {
    max-width: 100%;
}

/* ==================== */
.page__achievement {}

.achievement {
    padding-bottom: 100px;
}

.achievement__container {}

.achievement__type {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    position: relative;
    display: inline-block;
    padding-right: 26px;
}

.achievement__type::before {
    content: '';
    position: absolute;
    width: 464px;
    height: 2px;
    background-color: #000;
    left: 100%;
    top: 50%;
}

.achievement__type:not(:last-child) {
    margin-bottom: 40px;
}

.achievement__items {}

.achievement__item {
    display: flex;
    align-items: center;
    gap: 120px;
}

.achievement__item:not(:last-child) {
    margin-bottom: 40px;
}

.item-achievement {}

.item-achievement__image {}

.item-achievement__image img {
    max-width: 100%;
}

.item-achievement__content {
    max-width: 334px;
}

.item-achievement__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
}

.item-achievement__title:not(:last-child) {
    margin-bottom: 20px;
}

.item-achievement__text {
    line-height: 1.6;
}