@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
/* title */
.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  color: #212529;
}

.title_white {
  color: #fff;
}

.title_medium {
  font-weight: 500;
}

/* ========= */
.text {
  line-height: 1.66;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #e5e5e5;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
  min-height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  left: auto;
  top: auto;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 6.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  gap: 0.625rem;
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: 3.125rem;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.38; /* 25/18 */
  color: #f8f9fa;
  white-space: nowrap;
  position: relative;
  z-index: 2;
}
.header__logo::after {
  content: ".";
  color: #ddbea9;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1.5625rem;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 41.31125em) {
  .header__menu:not(:last-child)::after {
    content: "";
    background-color: rgba(229, 229, 229, 0.5);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1px;
            flex: 0 0 1px;
    height: 1.5625rem;
  }
}
@media (max-width: 41.25em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #212529;
    padding: 4.375rem 0.9375rem 1.25rem;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    height: 3.125rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #15171a;
    z-index: 1;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 0.1875rem;
}
@media (max-width: 41.25em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.menu__item_parent {
  position: relative;
  padding-right: 0.8125rem;
}
@media (min-width: 41.25em) {
  .menu__item_parent::after {
    content: "";
    width: 0.5rem;
    height: 0.3125rem;
    position: absolute;
    top: 0.5625rem;
    right: 0;
    background: url("../img/header/arrow.svg") 0 0/100% no-repeat;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  position: relative;
  display: inline-block;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 0.125rem;
  width: 0;
  border-radius: 0.125rem;
  background-color: #ddbea9;
  -webkit-transition: width 0.3s ease, left 0.3s;
  -o-transition: width 0.3s ease, left 0.3s;
  transition: width 0.3s ease, left 0.3s;
}
.menu__link.active {
  color: #fff;
}
.menu__link.active::before {
  width: 100%;
  left: 0;
}
@media (max-width: 41.25em) {
  .menu__link {
    font-size: 1.25rem;
    color: #fff;
  }
}
@media (min-width: 41.25em) {
  .sub-menu {
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 0.3125rem;
    pointer-events: none;
  }
}
.sub-menu__list {
  background-color: #212529;
  border-radius: 5px;
  padding: 1.25rem;
  min-width: 8.75rem;
}
@media (max-width: 41.25em) {
  .sub-menu__list {
    padding: 0.625rem 0 0 0;
    min-width: 0;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sub-menu__link {
  font-weight: 500;
  color: rgba(248, 249, 250, 0.6);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.sub-menu__link:hover {
  color: #fff;
}
@media (max-width: 41.25em) {
  .sub-menu__link {
    font-size: 1rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 41.25em) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 1.125rem;
    width: 1.875rem;
    position: relative;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    left: 0;
    position: absolute;
    height: 0.0625rem;
    background-color: #fff;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.03125rem;
  }
  .menu-open .icon-menu::after {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
        -ms-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotate(-45deg);
  }
  .menu-open .icon-menu::before {
    top: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
  .menu-open .icon-menu span {
    width: 0;
    left: 50%;
  }
}

@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #fff;
  }
  .menu__item:hover .menu__link::before {
    width: 100%;
    left: 0;
  }
  .menu__item_parent:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
.form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.375rem;
          flex: 0 0 1.375rem;
}
.form__line {
  min-height: 25px;
  -webkit-transform: translate(5px, 0px);
      -ms-transform: translate(5px, 0px);
          transform: translate(5px, 0px);
  background: url("../img/header/search.svg") center left no-repeat;
}
@media (max-width: 41.25em) {
  .form__line {
    -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
            transform: translate(0, 0px);
    background-size: 100%;
  }
  .form__line.active {
    background-size: inherit;
  }
  .form__line.anim {
    -webkit-animation: size 0.6s;
            animation: size 0.6s;
  }
}
@-webkit-keyframes size {
  0% {
    background-size: inherit;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes size {
  0% {
    background-size: inherit;
  }
  100% {
    background-size: 100%;
  }
}
.form__input {
  background: inherit;
  cursor: pointer;
  width: 0;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  padding: 5px 5px 3px 20px;
}
.form__input:focus-visible {
  outline: none;
}
.form__input:focus {
  border-bottom: 1px solid #fff;
}
.form__input.active {
  width: 190px;
  pointer-events: all;
}
@media (max-width: 31.25em) {
  .form__input.active {
    width: 100px;
  }
}

.main {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 6.25rem;
}
.main__container {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main__body {
  max-width: 37.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.9375rem;
}
.main__text {
  max-width: 22.5rem;
}
.main__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.main__background img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  color: #495057;
}
@media (max-width: 61.99875rem) {
  .articles {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}
@media (max-width: 47.99875rem) {
  .articles {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.articles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articles__header:not(:last-child) {
  margin-bottom: 2.75rem;
}
@media (max-width: 47.99875rem) {
  .articles__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.articles__items {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
@media (max-width: 61.99875rem) {
  .articles__items {
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.articles__more {
  -ms-flex-item-align: center;
      align-self: center;
  background: #212529;
  border-radius: 0.1875rem;
  min-width: 11.125rem;
  padding: 0.5rem 1.5625rem;
  line-height: 2.08;
  font-weight: 500;
  color: #f8f9fa;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin-top: 3.75rem;
}
@media (max-width: 47.99875rem) {
  .articles__more {
    margin-top: 1.875rem;
  }
}
@media (max-width: 25rem) {
  .articles__more {
    width: 100%;
  }
}

.header-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1.875rem;
}
.header-articles__add-categories {
  font-weight: 500;
  color: #495057;
  line-height: 2;
}
@media (min-width: 47.99875rem) {
  .options-articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
  }
}
@media (max-width: 47.99875rem) {
  .options-articles {
    display: none;
  }
}
@media (min-width: 48rem) {
  .options-articles__option {
    font-weight: 500;
    line-height: 2.08;
    color: rgba(73, 80, 87, 0.5);
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
}
.options-articles__option.active {
  color: #495057;
}

.item-article {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-article__category {
  position: absolute;
  top: 5.988024%; /* 30/501 */
  right: 7.633588%; /* 30/393 */
  background: rgba(33, 37, 41, 0.3);
  border-radius: 0.1875rem;
  padding: 0.1875rem 0.75rem;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 2.5;
  color: #f8f9fa;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}
.item-article__image {
  position: relative;
  padding-bottom: 63.613232%;
  /* 250/393 */
  display: block;
  overflow: hidden;
  border-radius: 5px;
}
.item-article__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item-article__image:not(:last-child) {
  margin-bottom: 1.875rem;
}
.item-article__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.9375rem;
}
.item-article__body:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.item-article__date {
  line-height: 1.66;
}
.item-article__title {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 61.99875rem) {
  .item-article__title {
    font-size: 1.125rem;
  }
}
.item-article__autor {
  padding-top: 0.9375rem;
  border-top: 1px solid #e5e5e5;
}

@media (any-hover: hover) {
  .options-articles__option:hover,
  .header-articles__add-categories:hover {
    text-decoration: underline;
  }
  .options-articles__option:hover {
    color: #495057;
  }
  .articles__more:hover {
    background-color: #33393f;
  }
  .item-article__category:hover {
    background: rgba(33, 37, 41, 0.673);
  }
  .item-article__title:hover {
    color: #ccd5ae;
  }
  .item-article__autor:hover {
    text-decoration: underline;
  }
  .item-article__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (min-width: 68.75em) {
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }
}
.featured__content {
  background: #212529;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.featured__body {
  max-width: 31.25rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 68.74875em) {
  .featured__body {
    max-width: none;
  }
}
@media (max-width: 61.99875em) {
  .featured__body {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .featured__body {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 37.5em) {
  .featured__body {
    max-width: none;
  }
}
.featured__title {
  color: #f8f9fa;
}
.featured__title:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (max-width: 47.99875em) {
  .featured__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 68.74875em) {
  .featured__title {
    text-align: center;
  }
}
.featured__content-right {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 15px;
  max-width: 25rem;
}
@media (max-width: 68.74875em) {
  .featured__content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: auto;
    left: auto;
  }
}
.featured__title-right {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6;
  color: #f8f9fa;
}
.featured__title-right:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 25em) {
  .featured__title-right {
    font-size: 1rem;
  }
}
.featured__image {
  position: relative;
  overflow: hidden;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}
@media (min-width: 68.75em) {
  .featured__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55.511811%;
            flex: 0 0 55.511811%; /* 705/1270 */
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}
@media (max-width: 68.74875em) {
  .featured__image {
    padding-bottom: 78.07309%; /* 705/903 */
  }
}
.featured__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 31.125rem;
}
@media (max-width: 68.74875em) {
  .item-featured {
    margin: 0 auto;
  }
}
@media (max-width: 37.5em) {
  .item-featured {
    max-width: none;
    gap: 1rem;
  }
}
@media (max-width: 29.99875em) {
  .item-featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-featured:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 37.5em) {
  .item-featured:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.item-featured__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  max-width: 18.75rem;
  padding-left: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63.654618%;
          flex: 0 0 63.654618%;
}
@media (max-width: 37.5em) {
  .item-featured__content {
    max-width: none;
    padding-left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.item-featured__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36.345382%;
          flex: 0 0 36.345382%; /* 181/498 */
  padding-bottom: 36.345382%;
  overflow: hidden;
}
.item-featured__image img {
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
@media (max-width: 29.99875em) {
  .item-featured__image img {
    width: inherit;
    max-width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .item-featured__image {
    min-height: 11.25rem;
  }
}
@media (any-hover: hover) {
  .item-featured__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-featured__date {
  line-height: 1.67;
  color: #e5e5e5;
}
.item-featured__title-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 25px;
  color: #f8f9fa;
}
.item-featured__title-link:hover {
  text-decoration: underline;
}
.item-featured__text {
  line-height: 1.67;
  color: #e5e5e5;
}

.big {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 61.99875rem) {
  .big {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}
@media (max-width: 47.99875rem) {
  .big {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.big__title:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 47.99875em) {
  .big__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.big__items {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
@media (max-width: 47.99875em) {
  .big__items {
    gap: 1rem;
  }
}
.item-big {
  position: relative;
}
.item-big__category {
  position: absolute;
  top: 6.756757%; /* 25/370 */
  right: 8.710801%; /* 25/287 */
  z-index: 2;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 2.5; /* 20/8 */
  text-align: center;
  color: #f8f9fa;
  text-transform: uppercase;
  background: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  padding: 0.1875rem 0.75rem;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
@media (any-hover: hover) {
  .item-big__category:hover {
    background: rgba(33, 37, 41, 0.673);
  }
}
.item-big__image {
  display: block;
  position: relative;
  padding-bottom: 69.686411%; /* 200/287 */
  overflow: hidden;
  border-radius: 4px;
}
.item-big__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
.item-big__image:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 37.5em) {
  .item-big__image:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (any-hover: hover) {
  .item-big__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-big__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}
.item-big__date {
  color: #495057;
}
.item-big__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.56;
  color: #212529;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .item-big__title:hover {
    color: #ccd5ae;
  }
}
.item-big__text {
  color: #495057;
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: rgba(248, 249, 250, 0.5);
  background: #212529;
}
@media (max-width: 29.99875em) {
  .footer {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.main-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  padding-bottom: 2rem;
}
@media (max-width: 29.99875em) {
  .main-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-footer__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.38; /* 25/18 */
  color: #f8f9fa;
}
.main-footer__logo::after {
  content: ".";
  color: #ddbea9;
}
.menu-footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 29.99875em) {
  .menu-footer {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu-footer__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.menu-footer__link:hover {
  color: #fff;
}

.bottom-footer {
  color: #495057;
}
.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  padding-top: 2.5rem;
  border-top: 1px solid rgba(229, 229, 229, 0.2);
}
@media (max-width: 29.99875em) {
  .bottom-footer__container {
    padding-top: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}