@import "_reset.scss";
@import "_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto&display=swap");
body {
	font-weight: 400;
	font-size: 16px;
	color: #000;
	font-family: "Oswald", sans-serif;
}
// ----------------------------
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
// --------------------------
[class*="__container"] {
	max-width: 1910px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
//---------------------------
.wrapper > main {
	flex: 1 1 auto;
}
//---------------------------
.page {
	// .page__brands
	&__brands {
		padding-top: 30px;
		padding-bottom: 21px;
	}
}
.brands {
	padding: 30px 5px 21px;
	// .brands__container
	@media (max-width: 767.98px) {
		padding: 30px 0 21px;
	}
	&__container {
		border-bottom: 2px solid #c4c4c4;
		border-right: 2px solid #c4c4c4;
		border-left: 2px solid #c4c4c4;
		padding: 28px 11px;
		@media (max-width: 767.98px) {
			border: none;
			padding: 0 15px;
		}
	}

	// .brands__items

	&__items {
		display: grid;
		gap: 35px;
		align-items: center;
		grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

		@media (max-width: 1100px) {
			column-gap: 14px;
			row-gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
		@media (max-width: 479.98px) {
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		}
		@media (max-width: 400px) {
			grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
		}
	}

	// .brands__item

	&__item {
		max-width: 235px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 141px;
		align-self: center;
		transition: background-color 0.3s;
		&_hidden {
			display: none;
		}
		& img {
			max-width: 100%;
		}
		&:hover {
			background-color: #f0f2f2;
		}
		@media (max-width: 1050px) {
			max-width: unset;
		}
		@media (max-width: 1100px) {
			min-height: 70px;
		}
		@media (max-width: 767.98px) {
			min-height: 55px;
			max-height: 55px;
			column-gap: 14px;
			row-gap: 10px;
			border: 2px solid #c4c4c4;
			padding: 21px 20px;
			&_hidden {
				display: flex;
			}
		}
	}
}

// -------------------------
.page {
	// .page__category
	&__category {
	}
}
.category {
	padding-bottom: 30px;
	@media (max-width: 767.98px) {
		padding-bottom: 15px;
	}
	// .category__container
	&__container {
	}
	// .category__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		// grid-auto-rows: 1fr;
		gap: 29px;
		@media (max-width: 1350px) {
			grid-template-columns: repeat(1, 1fr);
		}
		@media (max-width: 767.98px) {
			gap: 12px;
		}
	}
	// .category__item
	&__item {
	}
}
.item-category {
	position: relative;
	overflow: hidden;
	min-height: 434px;
	@media (max-width: 991.98px) {
		min-height: auto;
	}
	&:hover .item-category__image img {
		transform: scale(1.05);
	}
	&_right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		background: linear-gradient(160deg, rgba(241, 239, 240, 0) 0%, #f1f0f0 10.79%, #f3f0ef 98.67%);
	}
	&_bg {
		background: linear-gradient(90deg, #e0ded3 0%, #e0ddd5 86.82%, #e0ddd5 100%);
		grid-row: span 2;
		padding: 10px 10px 11.469933% 9.297297%;
		@media (max-width: 767.98px) {
			padding: 10px 10px 3% 5%;
			// bottom: 3%;
			// left: 5%;
		}
	}
	&_left {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(90deg, #f7e0d5 0%, #f3dcd2 83.85%, rgba(243, 220, 210, 0.14) 100%);
	}
	// .item-category__content
	&__content {
		z-index: 2;
		max-width: 369px;
		&_right {
			padding: 10px;
			// flex: 0 0 50%;
		}
		&_bg {
			display: flex;
			align-items: stretch;
			min-height: 100%;
			flex-direction: column;
			justify-content: flex-end;
			.item-category__button {
				align-self: start;
			}
			// position: absolute;
			// bottom: 11.469933%; /* 103/898 */
			// left: 9.297297%; /* 86/925 */
			position: relative;
			@media (max-width: 767.98px) {
				// bottom: 3%;
				// left: 5%;
			}
		}
		&_left {
			padding-left: 85px;
			// flex: 0 0 50%;
			@media (max-width: 767.98px) {
				padding-left: 10px;
			}
		}
	}
	// .item-category__tilte
	&__tilte {
		font-weight: 600;
		font-size: 48px;
		line-height: 1.29;
		text-transform: uppercase;
		color: #000000;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		&:not(:last-child) {
			margin-bottom: 7px;
		}
		@media (max-width: 767.98px) {
			font-size: 32px;
		}
		@media (max-width: 479.98px) {
			font-size: 16px;
		}
		&_bg {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
			font-size: 96px;
			@media (max-width: 991.98px) {
				font-size: 48px;
			}
			@media (max-width: 767.98px) {
				font-size: 32px;
			}
			@media (max-width: 479.98px) {
				font-size: 16px;
			}
		}
	}
	// .item-category__text
	&__text {
		font-family: "Roboto ";
		font-weight: 300;
		font-size: 22px;
		line-height: 168.181818%; /* 37/22 */
		letter-spacing: 0.01em;
		&:not(:last-child) {
			margin-bottom: 50px;
			@media (max-width: 767.98px) {
				margin-bottom: 8px;
			}
		}
		@media (max-width: 479.98px) {
			font-size: 10px;
		}
	}
	// .item-category__button
	&__button {
	}
	// .item-category__image
	&__image {
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		// height: 100%;
		padding-bottom: 47%; /* 434/557 */
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: transform 0.8s;
		}
		&_1 {
			// flex: 0 0 50%;
		}
		&_2 {
			@media (max-width: 1350px) {
				padding-bottom: 97.081081%; /* 898/925 */
			}
		}
		&_3 {
			// flex: 0 0 50%;
		}
	}
}

// ------------------------------------------
.page {
	// .page__shop
	&__shop {
	}
}
.shop {
	// .shop__container
	&__container {
	}
	// .shop__left-side
	&__left-side {
		max-width: 370px;
		flex: 1 1 auto;
		@media (max-width: 1400px) {
			max-width: 250px;
		}
		@media (max-width: 500px) {
			display: none;
		}
	}
	// .shop__title
	&__title {
	}
	// .shop__form
	&__form {
	}
}
.page {
	// .page__shop
	&__shop {
	}
}
.shop {
	padding-bottom: 24px;
	// .shop__container
	&__container {
		display: flex;
	}
	// .shop__left-side
	&__left-side {
	}
	// .shop__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 31px;
		}
	}
	// .shop__form
	&__form {
	}
	// .shop__body
	&__body {
		padding-left: 30px;
		border-left: 1px solid #c4c4c4;
		flex: 1 1 auto;
		@media (max-width: 500px) {
			padding: 0;
			border: none;
		}
	}
	// .shop__items
	&__items {
		display: grid;
		column-gap: 26px;
		row-gap: 48px;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		@media (max-width: 1670px) {
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		}
		@media (max-width: 991.98px) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
		@media (max-width: 767.98px) {
			column-gap: 14px;
			row-gap: 18px;
		}
		@media (max-width: 500px) {
			grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		}
		&:not(:last-child) {
			margin-bottom: 63px;
			@media (max-width: 767.98px) {
				margin-bottom: 30px;
			}
		}
	}
	// .shop__item
	&__item {
	}
	// .shop__btn
	&__btn {
		.button {
			color: #828282;
			border: 2px solid #c4c4c4;
			&:hover {
				border: 2px solid #000;
				color: #fff;
			}
			@media (max-width: 500px) {
				width: 100%;
			}
		}
		text-align: center;
		padding-bottom: 38px;
		@media (max-width: 479.98px) {
			padding-bottom: 0;
		}
	}
}
.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	// .checkbox__input
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__label {
			outline: 1px solid #000;
			border-radius: 5px;
		}
		&:checked + .checkbox__label::before {
			background: url("../img/shop/arrow.svg") 0 1px no-repeat #000000;
		}
		&:checked + .checkbox__label {
			color: #000;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		gap: 9px;
		transition: all 0.3s;
		&::before {
			content: "";
			flex: 0 0 10px;
			width: 10px;
			height: 10px;
			background: #ffffff;
			border: 1px solid #828282;
			transition: all 0.3s;
		}
	}
}

//-----------------------------------------
.page {
	// .page__limits
	&__limits {
	}
}
.limits {
	// .limits__container
	&__container {
		position: relative;
		padding: 15px;
		overflow: hidden;
		min-height: 400px;
		@media (max-width: 500px) {
			min-height: 200px;
		}
	}
	// .limits__content
	&__content {
		position: absolute;
		top: 16.488223%; /* 77/467 */
		left: 14.08377%; /* 269/1910 */
		z-index: 2;
		@media (max-width: 479.98px) {
			top: 12%;
			left: 5%;
		}
	}
	// .limits__image
	&__image {
		display: block;
		position: relative;
		padding-bottom: 24.86688%; /* 467/1878 */
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			min-height: 350px;
			@media (max-width: 700px) {
				object-position: 60% 0;
			}
			@media (max-width: 500px) {
				min-height: 200px;
			}
		}
	}
}

//-------------------------------------------
.page {
	// .page__featured
	&__featured {
	}
}
.featured {
	padding-bottom: 80px;
	@media (max-width: 991.98px) {
		padding-bottom: 50px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 30px;
	}
	// .featured__container
	&__container {
	}
	// .featured__top
	&__top {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	// .featured__items
	&__items {
		display: grid;
		gap: 26px;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		@media (max-width: 1700px) {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}
		@media (max-width: 1100px) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
		@media (max-width: 500px) {
			column-gap: 14px;
			row-gap: 18px;
			grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
		}
	}
	// .featured__item
	&__item {
	}
}
// -------------------------------------
.page {
	// .page__most
	&__most {
	}
}
.most {
	padding-bottom: 118px;
	@media (max-width: 991.98px) {
		padding-bottom: 50px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 30px;
	}
	// .most__container
	&__container {
	}
	// .most__top
	&__top {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	// .most__items
	&__items {
		display: grid;
		gap: 26px;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		@media (max-width: 1700px) {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}
		@media (max-width: 1100px) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
		@media (max-width: 500px) {
			column-gap: 14px;
			row-gap: 18px;
			grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
		}
	}
	// .most__item
	&__item {
	}
}
// ----------------------------------------------
.page {
	// .page__explore
	&__explore {
	}
}
.explore {
	padding-bottom: 82px;
	// .explore__container
	@media (max-width: 991.98px) {
		padding-bottom: 50px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 30px;
	}
	&__container {
		display: flex;
		@media (max-width: 1300px) {
			align-items: center;
			position: relative;
		}
	}
	// .explore__image
	&__image {
		flex: 0 0 55.497382%; /* 1060/1910 */
		padding-right: 96px;
		position: relative;
		@media (max-width: 1300px) {
			padding-right: 30px;
		}
		@media (max-width: 767.98px) {
			flex: 0 0 100%;
			padding: 0;
			position: relative;
		}
		& img {
			max-width: 100%;
			min-height: 252px;
		}
	}
	// .explore__content
	&__content {
		flex: 0 0 44.502618%;
		@media (max-width: 767.98px) {
			position: absolute;
			bottom: 12px;
			left: 15%;
			text-align: center;
			background-color: #fff;
			padding: 16px 20px 13px;
			border: 2px solid #c4c4c4;
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}
		@media (max-width: 700px) {
			left: 25%;
		}
		@media (max-width: 540px) {
			left: 20%;
		}
		@media (max-width: 479.98px) {
			left: 15%;
		}
		@media (max-width: 420px) {
			left: 27px;
			margin-right: 27px;
		}
	}
	&__title {
		@media (max-width: 991.98px) {
			font-size: 28px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		@media (max-width: 767.98px) {
			font-size: 14px;
		}
	}
	// .explore__text
	&__text {
		@media (max-width: 991.98px) {
			font-size: 10px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	.block__btn {
		@media (max-width: 991.98px) {
			padding: 9px 20px;
			font-size: 10px;
		}
	}
}
// --------------------------------------
.page {
	// .page__blog
	&__blog {
	}
}
.blog {
	background: #f8f9fb;
	padding: 46px 0;
	@media (max-width: 767.98px) {
		padding: 30px 0;
	}
	@media (max-width: 479.98px) {
		padding: 9px 0 24px 0;
	}
	// .blog__container
	&__container {
	}
	// .blog__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 30px;
			@media (max-width: 479.98px) {
				margin-bottom: 15px;
			}
		}
	}
	// .blog__items
	&__items {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
		@media (max-width: 767.98px) {
			grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
			gap: 18px;
		}
	}
	// .blog__item
	&__item {
	}
}
.item-blog {
	padding: 24px 24px 0 24px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	min-height: 420px;
	@media (max-width: 400px) {
		min-height: 243px;
		padding: 7px 12px 0 12px;
	}
	// .item-blog__type
	&__type {
		font-weight: 600;
		font-size: 18px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #bdbdbd;
		&:not(:last-child) {
			margin-bottom: 21px;
			@media (max-width: 767.98px) {
				margin-bottom: 0;
			}
		}
		@media (max-width: 400px) {
			font-size: 10px;
		}
	}
	// .item-blog__title
	&__title {
		display: inline-block;
		font-size: 26px;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: 32px;
			@media (max-width: 767.98px) {
				margin-bottom: 14px;
			}
		}
		@media (max-width: 400px) {
			font-size: 14px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	// .item-blog__text
	&__text {
		font-family: "Roboto ";
		font-weight: 300;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.01em;
		flex: 1 1 auto;
		@media (max-width: 400px) {
			font-size: 10px;
		}
		padding-bottom: 10px;
	}
	// .item-blog__date
	&__date {
		font-weight: 300;
		font-size: 13px;
		line-height: 2.85;
		color: #4f4f4f;
		border-top: 3px solid #000000;
		@media (max-width: 400px) {
			font-size: 10px;
		}
	}
}
